.tanners__rooms{
    height: 669px;
    background: rgba(255, 237, 220, 0.5);
    backdrop-filter: blur(50px);
}
.tanners__rooms-heading ul{
    margin-left: 10px;
    list-style-type: disc;
    color: #000000;
}
 li{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.11em;
    color: #000000;
    margin: 50px 30px;
    padding-top: 30px;
}
.tanners__rooms-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}