.tanners__rooms{
    height: 669px;
    background: rgba(255, 237, 220, 0.5);
    backdrop-filter: blur(50px);
}
.tanners__rooms-heading ul{
    margin-left: 10px;
    list-style-type: disc;
    color: #000000;
}
 .tanners__rooms-heading ul li{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.11em;
    color: #000000;
    margin: 50px 30px 50px 60px;
    padding-top: 30px;
}
.tanners__rooms-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.tanners__rooms-overall_container{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1050px){
    .tanners__rooms-overall_container{
        display: flex;
        flex-direction: column;
       
    }
    .tanners__rooms-container {
        display: flex;
        flex-direction: column;
       align-items: center;

    }
    .tanners__rooms {
        height: 1800px;
        
    }
}

@media screen and (max-width: 450px){
    .tanners__rooms {
        height: 1770px;
    
    }
    .tanners__rooms-heading ul {
        padding-top: 5px;
        
        
    }
    .tanners__rooms-heading ul li {
        
        font-size: 25px;
        line-height: 25px;
       
        }
}
@media screen and (max-width: 350px){
    .tanners__rooms {
        height: 1650px;
    
    }
    .tanners__rooms-heading ul li {
        font-size: 21px;
        line-height: 22px;
    
    }
}