.tanners__aboutus-experience{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.tanners__aboutus-experience_container{
    width: 914px;
    height: 232px;
    position: absolute;
    top: 750px;
    background: rgba(255, 77, 0, 0.45);
    backdrop-filter: blur(50px);
    border-radius: 50px;
    margin: 1.5rem 0 0 0;
}
.tanners__aboutus-experience_container h3{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.11em;
    color: var(--color-white-text);
    margin: 1rem 0;
}
@media screen and (max-width: 1050px) {
.tanners__aboutus-experience_container {
    width: 814px;
    
}
}
@media screen and (max-width: 850px){
    .tanners__aboutus-experience_container {
        width: 600px;
     }

}
@media screen and (max-width: 550px){
    .tanners__aboutus-experience_container {
        width: 500px;
     }

}

@media screen and (max-width: 450px){
.tanners__aboutus-experience_container {
    width: 325px;
    margin-top: 30px;
}
.tanners__aboutus-experience_container h3 {
    
    font-size: 28px;}
}
@media screen and (max-width: 390px){
.tanners__aboutus-experience_container {
    width: 290px;
    margin-top: 50px;
}
}
    
