.tanners__aboutus-experience{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.tanners__aboutus-experience_container{
    width: 914px;
    height: 232px;
    position: absolute;
    top: 750px;
    background: rgba(255, 77, 0, 0.45);
    backdrop-filter: blur(50px);
    border-radius: 50px;
   z-index: 10;
}
.tanners__aboutus-experience_container h3{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.11em;
    color: var(--color-white-text);
    margin: 1rem 0;
}