.tanners__experience {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tanners__experience-images_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
.tanners__experience-overall_container, .tanners__experience-carousel_overall-container{
   width: 209px;
    height: 270px;
     margin: 25px 30px;
}

.tanners__experience-image_container-one, .tanners__experience-carousel_image-container_one{ 
  background: url(../../images/food.jpg);
background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.tanners__experience-image_container-two, .tanners__experience-carousel_image-container_two {
   background: url(../../images/yoga.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
  
}
.tanners__experience-image_container-three, .tanners__experience-carousel_image-container_three{
     background: url(../../images/room__service.jpg) ;
     background-repeat: no-repeat;
    background-size: 100% 100%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.tanners__experience-dark_background, .tanners__experience-carousel_dark-background{
    width: 100%;
    height: 235px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.4);
}
.tanners__experience-content, .tanners__experience-carousel_content{
  display: flex;
  justify-content: center;
 height: 100%;
 padding-bottom: 10px;
}

.tanners__experience-content span, .tanners__experience-carousel_content span{
  display: flex;
  align-self: flex-end;
  color: var(--color-white-text);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
}

.tanners__experience-carousel{
 display: none;
}

.tanners__experience-carousel_dot-container{
  display: none;
  text-align: center;
}
.tanners__experience-carousel_dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}
@media screen and (max-width: 1050px){
 
.tanners__experience-overall_container {
  width: 180px;
  height: 250px;

}

}
@media screen and (max-width: 850px){
.tanners__experience-overall_container {
  width: 160px;
  height: 200px;
margin: 10px 18px;
}
.tanners__experience-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tanners__experience-carousel_dot-container {
  display: block;

}

.tanners__experience {
  display: none;

}
}
@media screen and (max-width: 550px){
.tanners__experience-content span,
.tanners__experience-carousel_content span {
  
  font-size: 19px;
  line-height: 25px;
 
}
  
}
