@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100&display=swap");
:root {
  --font-family: "Mulish", sans-serif;
  --color-white-text: #ffffff;
  --color-subtext: #ff4d00;
  --color-dark-text: #121212;
}
