.tanners__footer{
   margin-top: 50px;
    
}
.tanners__footer-container{
     display: flex;
    justify-content: center;
}
.tanners__footer-overall_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tanners__footer-first_container, .tanners__footer-second_container, .tanners__footer-third_container, .tanners__footer-fourth_container{
    margin: 0 50px;
}
.tanners__footer-first_container .tanners__footer-logo_container{
display: flex;
justify-content: center;
}
.tanners__footer-first_container .tanners__footer-logo{
    width: 72px;
    height: 72px;
}
.tanners__footer-first_container h1{
    font-family: 'Roboto',
    sans-serif;
   font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #323232;
    margin-top: 10px;
}
.tanners__footer-second_container h2 button, .tanners__footer-third_container h2 button, .tanners__footer-fourth_container h2 button{
    font-family:'Roboto',
    sans-serif ;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: var(--color-subtext);
}
.tanners__footer-second_container p button,
.tanners__footer-third_container p button,
.tanners__footer-fourth_container p button{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #323232;
    
}
.tanners__footer-second_container p button,
.tanners__footer-third_container p button {
    text-align: left;
}
.tanners__footer-second_container p button,
.tanners__footer-third_container p button,
.tanners__footer-fourth_container p button,.tanners__footer-second_container h2 button,
.tanners__footer-third_container h2 button,
.tanners__footer-fourth_container h2 button{
    border: none;
    background: none;
    cursor: pointer;
}

.tanners__footer-second_container p,
.tanners__footer-third_container p{
    margin: 10px 0;
}

.tanners__footer-fourth_container .tanners__footer-socials{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
.tanners__footer-fourth_container .tanners__footer-socials img{
    width: 17.36px;
    height: 16.73px;
    margin-right: 8px;
    margin-top: 3px;
}
.tanners__footer-designer_developer{
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
}
.tanners__footer-designer_developer p{
    font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight: 600;
color:#323232;
margin: 5px;
}

@media screen and (max-width: 850px){
.tanners__footer-first_container .tanners__footer-logo {
    width: 62px;
    height: 62px;
}

.tanners__footer-first_container h1 {
    font-size: 20px;
    text-align: center;

}

.tanners__footer-second_container h2 button,
.tanners__footer-third_container h2 button,
.tanners__footer-fourth_container h2 button {
    font-size: 18px;
    
}

.tanners__footer-second_container p button,
.tanners__footer-third_container p button,
.tanners__footer-fourth_container p button {
    font-size: 15px;

}

}
@media screen and (max-width: 550px){
    .tanners__footer-container {
        display: flex;
        justify-content: flex-start;
       
    }
.tanners__footer-overall_container {
    display: flex;
    flex-direction: column;
    
}
.tanners__footer-first_container,
.tanners__footer-second_container,
.tanners__footer-third_container,
.tanners__footer-fourth_container {
    margin: 10px 15px;
}
.tanners__footer-first_container .tanners__footer-logo_container {
    display: flex;
    justify-content: flex-start;
}
.tanners__footer-first_container .tanners__footer-logo {
    width: 52px;
    height: 52px;
}
.tanners__footer-first_container h1 {
   font-size: 20px;
    margin-left: -5px;
    text-align: left;
    
}
.tanners__footer-second_container h2 button,
.tanners__footer-third_container h2 button,
.tanners__footer-fourth_container h2 button {
   font-size: 17px;
    }
    .tanners__footer-second_container p button,
    .tanners__footer-third_container p button,
    .tanners__footer-fourth_container p button {
        font-size: 15px;
       
    }
}
@media screen and (max-width: 450px){
.tanners__footer {
    display: flex;
    flex-direction: column;
}
}